@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Mochiy+Pop+One&display=swap");
* {
  font-family: "Bungee", sans-serif;
  font-family: "Mochiy Pop One", sans-serif;
}
main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgb(255, 254, 246);
}
